<%# partial form, we are able to use simple form_for statement from new instead of edit version because the object @task is able to resource to the entire set of RESTFUL routes. So it is able to infer which URI method to use  %>

<%= form_for @task do |f| %>

  <p>
    <%= f.label :Name, "Name:" %><br>
    <%= f.text_field :task_name%>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
