/*
 * Simple CSS stylesheet for a navigation bar and flash messages.
 */ 

h1 {
	font-size: 300%;
   	font-family: Arial;
   	text-align:center;
   	width: 80%;
   	color: #565656;
   	left: 10px;
   	margin-left:auto; 
    margin-right:auto; 
    margin-top:50px;
    margin:0;
    padding:10;
    padding-left: .4cm;
}
body {
    background-color: #D3D3D3;
}

table {
	border: 1px solid black;
    margin-left:auto; 
    margin-right:auto; 
    background-color: white;
    border-spacing:0;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
    font-family: Arial;
	font-size: 14px;
	color: #565656;
}
hr {
    height: 0px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}
td {
	padding: 13px;
	border-bottom: solid 1px #000;
}
tr {
    border-collapse: collapse;
}
td.checkbox {
	width: 2px;
}
td.task_name{
	width: "30%";
}
td.edit{
	width: "2%";
}
td.delete{
	width: "2%";
}

//comment for flash notice div
#flash {
    background-color:white;
    text-align:center;
    border:3px solid red;
    width: 450px;
    margin-left:auto; 
    margin-right:auto; 
}
